.footer__copyright {
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  margin-top: 48px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
    margin-top: 67px;
    margin-bottom: 60px;
  }
}
