.popup__button {
  margin-top: 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
  width: 238px;
  height: 46px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.popup__button:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .popup__button {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
