.profile__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  display: block;
  max-width: 282px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    max-width: 294px;
  }
}
