.profile__foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
  transition: all 0.5s ease;
}

.profile__foto:hover{
  cursor: url(../../../images/pen.png), pointer;
  opacity: 0.2;
}